.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 550px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(45deg, #5c32bf 0%, #196073 50%, #26dc69 100%); */
  background-color: rgb(237, 215, 215, 0.8);
}

.login {
  text-align: center;
  position: relative;
}

.title {
  font-size: 25px;
  font-weight: 900;
}

.info {
  margin: 5px 0;
}

.left,
.right {
  text-decoration: none;
  color: blue;
}

.left:hover,
.right:hover {
  color: red;
  text-decoration: underline;
}

.left {
  position: absolute;
  top: 120px;
  left: 0;
}

.right {
  position: absolute;
  top: 120px;
  right: 0;
}
